<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Icon Game - Binar Academy Challange</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style-1.css " />
    <link rel="stylesheet" href="/css/style-2.css " />
  </head>
  <body>
    <div class="game-media-query">
      <nav
        class="bottom-nav fixed-bottom navbar navbar-expand-lg navbar-dark pt-3 pb-3"
      >
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-2 text-center">
              <button
                type="button"
                class="btn btn-warning mt-3 mb-3 font-weight-bolder"
                onclick="document.location='index.html'"
              >
                <img
                  src="/assets/icons/home-icon.png"
                  alt="Home Icon"
                  width="40"
                />
              </button>
              <span class="text-white">Home</span>
            </div>
            <div class="col-2 text-center">
              <button
                type="button"
                class="human-button-choose btn btn-dark mt-3 mb-3 font-weight-bolder"
                id="humanButtonHandRock"
                value="Rock"
              >
                <img
                  src="/assets/images/rock-hand.png"
                  alt="Rock Icon"
                  width="40"
                />
              </button>
              <span class="text-white">Rock</span>
            </div>
            <div class="col-2 text-center">
              <button
                type="button"
                class="human-button-choose btn btn-dark mt-3 mb-3 font-weight-bolder"
                id="humanButtonHandPaper"
                value="Paper"
              >
                <img
                  src="/assets/images/paper-hand.png"
                  alt="Paper Icon"
                  width="40"
                />
              </button>
              <span class="text-white">Paper</span>
            </div>
            <div class="col-2 text-center">
              <button
                type="button"
                class="human-button-choose btn btn-dark mt-3 mb-3 font-weight-bolder"
                id="humanButtonHandScissors"
                value="Scissors"
              >
                <img
                  src="/assets/images/scissors-hand.png"
                  alt="Scissors Hand"
                  width="40"
                />
              </button>
              <span class="text-white h7">Scissors</span>
            </div>
            <div class="col-2 text-center">
              <button
                type="button"
                class="new-round-button btn btn-warning mt-3 mb-3 font-weight-bolder"
                id="newRoundButton"
              >
                <img
                  src="/assets/icons/new-round-icon.png"
                  alt="New Round Icon"
                  width="40"
                />
              </button>
              <span class="text-white">New Round</span>
            </div>
          </div>
        </div>
      </nav>
      <section class="game-section" id="gameSection">
        <div class="game-bg">
          <div class="score-board">
            <div class="container pt-4">
              <div class="row justify-content-center">
                <h1 class="h4 text-white">Score Board</h1>
              </div>
              <div class="row justify-content-center mb-2">
                <div class="col-lg-4 col-sm-2 col-md-4 win-lose-draw-status">
                  <div class="card bg-dark text-center">
                    <div
                      class="win-lose-draw-status card-header text-white font-weight-bold"
                      id="winLoseDrawStatus"
                    >
                      ....
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-2 human-score">
                  <div class="card text-center">
                    <div
                      class="card-header bg-danger text-white font-weight-bold h4"
                    >
                      YOU
                    </div>
                    <div class="card-body">
                      <p class="card-text h2" id="humanScore">00</p>
                    </div>
                  </div>
                </div>
                <div class="col-2 bot-score">
                  <div class="card text-center">
                    <div
                      class="card-header bg-danger text-white font-weight-bold h4"
                    >
                      COM
                    </div>
                    <div class="card-body">
                      <p class="card-text h2" id="botScore">00</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="game-play container text-center text-white">
            <div class="row justify-content-center">
              <div class="col">
                <div class="player-choice float-right" id="humanCoice">
                  <a
                    href="#"
                    class="human-hand-start btn btn-primary"
                    id="humanHandStart"
                    value="HumanHandStart"
                  >
                    <img
                      src="/assets/images/human-hand-start.png"
                      alt="Human Hand Start"
                      width="120"
                      height="120"
                    />
                  </a>
                  <a
                    href="#"
                    class="human-hand-choice btn btn-primary"
                    id="humanHandRock"
                  >
                    <img
                      src="/assets/images/rock-hand.png"
                      alt="Human Rock"
                      width="120"
                      height="120"
                    />
                  </a>
                  <a
                    href="#"
                    class="human-hand-choice btn btn-primary"
                    id="humanHandPaper"
                    value="Paper"
                  >
                    <img
                      src="/assets/images/paper-hand.png"
                      alt="Human Paper"
                      width="120"
                      height="120"
                    />
                  </a>
                  <a
                    href="#"
                    class="human-hand-choice btn btn-primary"
                    id="humanHandScissors"
                    value="Scissors"
                  >
                    <img
                      src="/assets/images/scissors-hand.png"
                      alt="Human Scissors"
                      width="120"
                      height="120"
                    />
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="container">
                  <div class="row">
                    <div class="bot-choice" id="botChoice">
                      <a
                        href="#"
                        class="bot-hand-start btn btn-primary"
                        id="botHandStart"
                        value="BotHandStart"
                      >
                        <img
                          src="/assets/images/bot-hand-start.png"
                          alt="Bot Hand Start"
                          width="120"
                          height="120"
                        />
                      </a>
                      <a
                        href="#"
                        class="bot-hand-choice btn btn-primary"
                        id="botHandRock"
                        value="Rock"
                      >
                        <img
                          src="/assets/images/rock-hand.png"
                          alt="Bot Rock"
                          width="120"
                          height="120"
                        />
                      </a>
                      <a
                        href="#"
                        class="bot-hand-choice btn btn-primary"
                        id="botHandPaper"
                        value="Paper"
                      >
                        <img
                          src="/assets/images/paper-hand.png"
                          alt="Bot Rock"
                          width="120"
                          height="120"
                        />
                      </a>
                      <a
                        href="#"
                        class="bot-hand-choice btn btn-primary"
                        id="botHandScissors"
                        value="Scissors"
                      >
                        <img
                          src="/assets/images/scissors-hand.png"
                          alt="Bot Scissors"
                          width="120"
                          height="120"
                        />
                      </a>
                    </div>
                    <div class="bot-face" id="botFace" value="">
                      <img
                        src="/assets/images/bot-face-start-2.png"
                        alt="Bot Face Start"
                        width="144"
                        height="144"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="js/game-board-2.js"></script>
  </body>
</html>
