<%-include('../Views/parts/header.ejs')%>
<body>
  <div class="game-media-query">
    <%-include('../Views/parts/navbar-bottom.ejs')%>
    <%-include('../Views/parts/section-game.ejs')%>
  </div>
  <%-include('../Views/parts/js.ejs')%>
</body>
