/**Override Boostrapt Style**/
.btn {
  border-radius: 15px;
  padding: 1rem 1rem;
}

.btn-dark {
  color: white;
  background: linear-gradient(148.43deg, #676767 -1.04%, rgba(103, 103, 103, 0.395833) 60.25%, rgba(103, 103, 103, 0.34) 120.28%);
}

.btn-warning {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-28.31%, #FFA800), color-stop(71.68%, #C68200), color-stop(169.63%, #976400));
  background: linear-gradient(180deg, #FFA800 -28.31%, #C68200 71.68%, #976400 169.63%);
  border-color: unset;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:focus {
  background-color: #ffc106;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 0.2rem #b68c0d7a;
          box-shadow: 0 0 0 0.2rem #b68c0d7a;
}

.btn-primary:focus:hover {
  background-color: #ffc106;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: transparent;
  background-color: #5e5e5e;
  border-color: transparent;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  border: unset;
}

.card-body {
  padding: 10px;
}

.card-header {
  padding: 8px 10px;
  border: unset;
}

/* Main Style */
* {
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: black;
  min-width: 100vw;
}

.home-section {
  background-color: #1f1f1f;
  padding-top: 25vh;
  min-height: 100vh;
  margin: auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.status-screen {
  height: 130px;
  width: 130px;
  border: 1px solid blue;
  border-radius: 8px;
  margin: 50px auto;
}

.text-status {
  padding: 20px;
}

.game-section {
  position: relative;
}

.player {
  width: 80vw;
  margin: auto;
}

#rc {
  background-color: red;
}

/**Game Board Style**/
.new-round-button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-28.31%, #14FF00), color-stop(71.68%, #1CBD0E), color-stop(169.63%, #001101));
  background: linear-gradient(180deg, #14FF00 -28.31%, #1CBD0E 71.68%, #001101 169.63%);
  border: unset;
}

.my-class {
  background-color: #ffc106;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 0.2rem #b68c0d7a;
          box-shadow: 0 0 0 0.2rem #b68c0d7a;
}

.game-media-query {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  min-height: 100vh;
  background-color: 212121;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.score-board {
  margin-bottom: 40px;
  position: relative;
}

.win-lose-draw-status {
  padding: 20px 14px;
}

.game-play {
  margin-top: 100px;
}

/**Visble Human Hand Style**/
.hand-choice {
  position: relative;
}

.human-hand-start {
  position: absolute;
  right: 0;
  top: 20px;
}

.human-hand-choice {
  position: absolute;
  right: 0;
}

#humanHandRock,
#humanHandPaper,
#humanHandScissors {
  display: none;
}

.visibility-human-hand {
  display: block !important;
}

/**Visble Bot Hand Style**/
.bot-choice {
  position: relative;
}

.bot-hand-start {
  position: absolute;
  left: 0;
  top: 20px;
}

.bot-hand-choice {
  position: absolute;
  left: 0;
}

#botHandRock,
#botHandPaper,
#botHandScissors {
  display: none;
}

.visibility-bot-hand {
  display: block;
}

.bot-face {
  position: absolute;
  right: 90px;
}

/**Nav Footer Style**/
.bottom-nav {
  overflow: hidden;
  background-color: #181818;
  width: 768px;
  margin: auto;
  border-radius: 20px;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
  .game-media-query {
    max-width: none;
  }
  .bot-face {
    right: 60px;
  }
}
/*# sourceMappingURL=style-gameboard.css.map */