@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

* {
  -webkit-font-smoothing: auto;
}

body {
  background-color: #181818;
  font-family: "Rubik", sans-serif;
}

.san-btn-sm {
  width: 128px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 40px;
}

.san-btn-sm .san-green {
  background: linear-gradient(182.19deg, #5da44b -9.83%, #167706 95.8%, #073100 195.48%);
  -webkit-box-shadow: 2px 8px 15px -5px rgba(46, 111, 31, 0.5);
          box-shadow: 2px 8px 15px -5px rgba(46, 111, 31, 0.5);
  border-radius: 6px;
}

.san-btn-sm .san-green.nav-link {
  color: #244b1b;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.san-btn-sm .san-yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-28.31%, #ffa800), color-stop(71.68%, #c68200), color-stop(169.63%, #976400));
  background: linear-gradient(180deg, #ffa800 -28.31%, #c68200 71.68%, #976400 169.63%);
  -webkit-box-shadow: 2px 8px 15px -5px #624101;
          box-shadow: 2px 8px 15px -5px #624101;
  border-radius: 6px;
}

.san-btn-sm .san-yellow.nav-link {
  color: #4d2a0b;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.top-nav {
  background-color: #212121;
  /*-webkit-backdrop-filter: saturate(180%) blur(20px);*/
  /*backdrop-filter: saturate(180%) blur(20px);*/
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 14px;
}

.logo-in-topnav {
  margin-right: 40px;
}

.hero-section {
  position: relative;
}

.hero-bg {
  background-image: url("/assets/images/landing-page-hero-background.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100vw;
  -o-object-fit: fill;
     object-fit: fill;
}

.hero-bg::after {
  /* z-index: -1; */
  content: "";
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.hero-content {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 60px;
  z-index: 1;
}

.header-hero-page {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.desc-hero-page {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.playnow-button {
  font-weight: bold;
  padding: 20px 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-8.57%, #3c3c3c), color-stop(46.28%, #2e2e2e), to(#1d1d1d));
  background: linear-gradient(180deg, #3c3c3c -8.57%, #2e2e2e 46.28%, #1d1d1d 100%);
  -webkit-box-shadow: 3px 7px 19px 2px rgba(92, 92, 92, 0.33);
          box-shadow: 3px 7px 19px 2px rgba(92, 92, 92, 0.33);
  border-radius: 6px;
  border: unset;
  font-family: "Rubik", sans-serif !important;
  color: #979797;
  text-transform: uppercase;
}

.hero-arrow-down {
  position: absolute;
  bottom: 8vh;
  z-index: 1;
  text-align: center;
  min-width: 100vw;
  -webkit-animation: scrldwn 1s steps(8) infinite;
  animation: scrldwn 1s steps(8) infinite;
}

@keyframes scrldwn {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
}

@-webkit-keyframes scrldwn {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
}

.arrow-down-text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 24px;
}

.arrow-down-ic {
  margin-top: 10px;
}

.about-us-section {
  position: relative;
}

.about-us-bg {
  /*background-image: url("/assets/images/the-games-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;*/
  height: 960px;
  min-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.about-us-bg::before {
  content: "";
  position: absolute;
  top: 0;
  height: 960px;
  width: 100vw;
}

.about-us-bg::after {
  /* z-index: -1; */
  content: "";
  position: absolute;
  top: 0;
  height: 960px;
  width: 100vw;
  /*background: radial-gradient(
    136.03% 54.57% at 50% 48.04%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 60.63%,
    #080a0b 99.74%
  );*/
}

.about-us-content {
  padding-top: 13rem;
  display: block;
}

.about-us-text {
  position: relative;
  z-index: 0;
  text-align: center;
}

.about-us-title-1 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
}

.about-us-title-2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.about-us-carrousel {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 67.6666%;
  margin: auto;
}

.about-us-carrousel .carousel-control-prev {
  left: -80px;
}

.about-us-carrousel .carousel-control-next {
  right: -80px;
}

.prev-group {
  position: relative;
}

.next-group {
  position: relative;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: block;
}

.about-us-carrousel .carousel-control-next-icon {
  background-image: url("/assets/icons/arrow-right@2x.png");
  background-position: center;
  background-repeat: repeat;
}

.about-us-carrousel .carousel-control-prev-icon {
  background-image: url("/assets/icons/arrow-left@2x.png");
  padding: 20px;
}

.bg-prev-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  content: "";
  background: radial-gradient(138.46% 138.46% at 28.46% 8.46%, #6b6b6b 0%, rgba(196, 196, 196, 0) 100%);
  -webkit-filter: drop-shadow(-1px 14px 38px rgba(44, 44, 44, 0.96));
  filter: drop-shadow(-1px 14px 38px rgba(44, 44, 44, 0.96));
  border-radius: 100%;
}

.about-us-carrousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 25px;
  margin-left: 25px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: unset;
}

.about-us-carrousel .carousel-indicators .active {
  background-color: #fff;
  border: 1px solid #fff;
}

.features-section {
  position: relative;
}

.features-bg {
  background-image: url("/assets/images/landing-page-section-feature-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 60px;
  height: 960px;
  min-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.features-bg::after {
  content: "";
  position: absolute;
  top: 0;
  height: 960px;
  width: 100vw;
}

.features-content {
  position: relative;
  z-index: 2;
}

.features-content-text {
  float: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.333333%;
}

.features-title-1 {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.features-title-2 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.feature-list-title {
  color: #ffb548;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.feature-list-title:hover {
  color: #ffb64896;
}

.feature-list-title .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.feature-list-desc {
  color: #fff;
}

.requirements-section {
  position: relative;
}

.requirements-bg {
  background-image: url("/assets/images/landing-page-section-system-req-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 960px;
  min-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.requirements-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 960px;
  width: 100vw;
}

.features-content {
  color: #fff;
  padding-top: 8rem;
}

.requirements-h1 {
  float: left;
  font-size: 4rem;
  text-transform: uppercase;
  position: absolute;
  top: 8rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.requirements-h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.requirements-box {
  position: relative;
  top: 14rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.666667%;
  padding: 17px;
  background: linear-gradient(181.24deg, #242424 26.2%, rgba(36, 36, 36, 0) 245.41%);
  -webkit-filter: drop-shadow(1px 12px 10px rgba(41, 41, 41, 0.5));
          filter: drop-shadow(1px 12px 10px rgba(41, 41, 41, 0.5));
  border-radius: 10px;
}

.requirements-box h4 {
  text-transform: uppercase;
  color: #ffb548;
  letter-spacing: 2px;
}

.requir-box-os,
.requir-box-procie,
.requir-box-memo,
.requir-box-stor,
.requir-box-graph {
  border-width: 1px;
  border-color: #979797;
  border-style: solid;
}

.requir-box-os {
  border-top-left-radius: 10px;
}

.requir-box-procie {
  border-top-right-radius: 10px;
}

.requir-box-graph {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quotes-section {
  position: relative;
}

.quotes-bg {
  background-image: url("/assets/images/quotes-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 960px;
  min-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.quotes-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 960px;
  width: 100vw;
}

.quotes-content {
  position: relative;
  z-index: 2;
}

.quotes-text-box {
  padding-top: 10rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.quotes-h2 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.quotes-desc {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.666667%;
}

.quotes-button {
  padding: 20px 100px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-8.57%, #434343), color-stop(46.28%, #2e2e2e), to(#272727));
  background: linear-gradient(180deg, #434343 -8.57%, #2e2e2e 46.28%, #272727 100%);
  -webkit-box-shadow: 3px 7px 10px 2px rgba(92, 92, 92, 0.13);
          box-shadow: 3px 7px 10px 2px rgba(92, 92, 92, 0.13);
  border-radius: 6px;
  border: unset;
  color: #979797;
}

.quotes-people-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.quotes-people-box-list {
  padding: 15px;
  color: #868686;
  margin: 15px auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.333333%;
  background: linear-gradient(180.72deg, #2d2d2d -60.74%, #212121 59.19%, #1f1f1f 171.06%);
  -webkit-box-shadow: 11px 9px 20px rgba(90, 90, 90, 0.15);
          box-shadow: 11px 9px 20px rgba(90, 90, 90, 0.15);
  border-radius: 15px;
}

.first-text {
  padding-bottom: 15px;
}

.image-profile-box {
  position: relative;
}

.img-src {
  position: relative;
  z-index: 1;
}

.image-profile {
  background: radial-gradient(106% 106% at 50% 50%, #070707 0%, rgba(11, 11, 11, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
}

.bio-desc {
  padding-top: 4px;
}

.bio-name {
  color: #ffb548;
}

.bio-pro {
  color: #868686;
}

.second-text {
  color: #fff;
  padding-bottom: 15px;
}

.news-letter-section {
  position: relative;
}

.news-letter-bg {
  background-color: auto;
}

.feat-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.newslet-text-box {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.newslet-h2 {
  font-size: 1rem;
  font-weight: lighter;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333%;
}

.newslet-h3 {
  font-size: 4rem;
  text-transform: uppercase;
}

.form-email-box {
  background-color: #2b2b2b;
  padding: 0px;
  border-radius: 0.25rem;
  padding-bottom: 5px;
}

.form-email-box .form-control {
  background-color: transparent;
  border: transparent;
  color: #ffb548;
}

.email-label {
  font-size: 0.6rem;
  padding: 0.575rem 0.75rem;
  color: #cecece;
}

.newslett-par {
  font-weight: lighter;
  margin-bottom: 40px;
}

.newsletbut {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-8.57%, #434343), color-stop(46.28%, #2e2e2e), to(#272727));
  background: linear-gradient(180deg, #434343 -8.57%, #2e2e2e 46.28%, #272727 100%);
  -webkit-box-shadow: 3px 7px 10px 2px rgba(92, 92, 92, 0.13);
          box-shadow: 3px 7px 10px 2px rgba(92, 92, 92, 0.13);
  border-radius: 6px;
  border: unset;
  color: #979797;
}

.foot-section {
  background-color: auto;
}

.footer-first {
  border-bottom: 1px solid #fff;
}

.footer-first-content {
  padding-top: 60px;
  padding-bottom: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -ms-grid;
  display: grid;
  font-weight: bold;
}

.nav-foot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.site-map-foot {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6rem;
}

.site-map-item:not(:last-child) {
  padding-right: 40px;
}

.site-link {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

.site-link:hover {
  color: #cecece;
}

.socmed-list-box {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-second-content {
  padding-top: 20px;
  color: #fff;
  padding-bottom: 50px;
}

.copyright {
  color: #6f6f6f;
  font-size: 0.6rem;
}

.rulnet-lst {
  list-style: none;
  float: left;
  font-size: 0.7rem;
  padding-left: 10px;
}

.rulnet-lst:not(:last-child)::after {
  content: "";
  border-left: 1px solid #fff;
}

.rulnet-link {
  text-transform: uppercase;
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.rulnet-link:hover {
  color: #cecece;
  opacity: 0.5;
}

/*-Ipad-*/
@media (max-width: 768px) {
  .about-us-title-2,
  .features-title-2,
  .requirements-h1,
  .quotes-h2,
  .newslet-h3 {
    font-size: 2.5rem;
  }
  .about-us-carrousel {
    padding-top: 40px;
  }
  .about-us-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.333333%;
  }
  .about-us-content {
    display: block;
  }
  .features-content-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.333333%;
  }
  .requirements-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.333333%;
  }
  .quotes-people-box-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.333333%;
  }
  .feat-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.333333%;
  }
  .newslet-text-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.666667%;
  }
  .nav-foot {
    display: block;
  }
  .site-map-foot {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .socmed-list-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  .about-us-title-2,
  .features-title-2,
  .requirements-h1,
  .quotes-h2,
  .newslet-h3 {
    font-size: 2rem;
  }
  .requirements-h3 {
    font-size: 0.8rem;
  }
  .requirements-box {
    top: 8rem;
    left: 15px;
  }
  .requirements-box h4 {
    font-size: 14px;
  }
  .requirements-box p {
    font-size: 12px;
  }
  .quotes-section {
    height: 1050px;
  }
  .quotes-bg {
    height: 1200px;
  }
  .quotes-text-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    padding-top: 2rem;
  }
  .quotes-button {
    padding: 20px 80px;
  }
  .quotes-people-box {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin-top: 30px;
  }
  .quotes-people-box-list {
    width: 67.6666%;
  }
  .news-letter-bg {
    padding-top: 10rem;
  }
  .newslet-img-self {
    width: 12rem;
  }
}

@media (max-width: 430px) {
  .header-hero-page {
    font-size: 3rem;
  }
  .hero-content {
    padding-top: 9rem;
  }
  .desc-hero-page {
    font-size: 16px;
    width: 70%;
    margin: auto;
  }
  .about-us-bg {
    height: 760px;
  }
  .about-us-carrousel .carousel-control-prev {
    left: -44px;
  }
  .about-us-carrousel .carousel-control-next {
    right: -44px;
  }
  .about-us-carrousel .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 8px;
  }
  .features-title-1 {
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .requirements-h1 {
    top: 10rem;
  }
  .requirements-box {
    width: 77.6666%;
  }
  .newslet-h2 {
    width: 42.33333%;
  }
  .newsletbut {
    font-size: 14px;
  }
  .site-link {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  .logo-in-topnav {
    margin-right: 5rem;
  }
  .header-hero-page {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .desc-hero-page {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .about-us-carrousel .carousel-control-prev {
    left: -34px;
  }
  .about-us-carrousel .carousel-control-next {
    right: -34px;
  }
  .features-content-text {
    width: 100%;
  }
  .requirements-box {
    width: 86.667%;
  }
  .quotes-people-box-list {
    width: 82.667%;
    font-size: 14px;
  }
  .news-letter-bg {
    padding-top: 0rem;
  }
  .newslet-text-box {
    width: 97.667%;
  }
  .site-map-item:not(:last-child) {
    padding-right: 14px;
  }
  .rulnet-lst:not(:last-child)::after {
    content: "";
    border-left: unset;
  }
}
/*# sourceMappingURL=style-home.css.map */