<div id="blogContent" class="blog-content">
  <div class="justify-content-center">
    <section class="blog-hero-tron">
      <div class="blog-title-desc">
        <div class="blog-title-h1">
          <h1>Our Weekly Blog</h1>
        </div>
      </div>
    </section>
    <section class="blog-cards-article container">
      <div class="col">
        <div class="container content-area col-sm-12 col-lg">
          <div class="cards-box">
            <div class="cards-article-column">
              <div class="card-feeds">
                <article class="san-post-card">
                  <img src="" alt="" class="san-post-card-img" />
                  <div class="san-post-card-content">
                    <div class="san-post-card-link">
                      <div class="san-post-card-h2">
                        <h2>Lorem Ipsum</h2>
                      </div>
                      <div class="san-post-card-excerpt">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          eli...
                        </p>
                      </div>
                    </div>
                    <div class="san-post-card-footer">
                      <div class="san-ava">
                        <img
                          src="/assets/images/avatar-man-beard-light-skin.png"
                          alt=""
                        />
                      </div>
                      <div class="sn-authname-cat-rdtime">
                        <span class="author-name">San Engineer</span>
                        <div class="date-post">11 Janurai</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
