<footer class="foot-section">
  <div class="container">
    <div class="footer-first">
      <div class="footer-first-content">
        <div class="nav-foot">
          <ul class="site-map-foot">
            <li class="site-map-item nav-item">
              <a class="site-link" href="#heroSection">Home</a>
            </li>
            <li class="site-map-item nav-item">
              <a class="site-link" href="#aboutUsSection">About</a>
            </li>
            <li class="site-map-item nav-item">
              <a class="site-link" href=" #requireSection"
                >System Requirements</a
              >
            </li>
            <li class="site-map-item nav-item">
              <a class="site-link" href="#quotesSection">Quotes</a>
            </li>
            <li class="site-map-item nav-item">
              <a class="site-link" href="#featuresSection">Feature</a>
            </li>
          </ul>
          <ul class="socmed-list-box">
            <li class="nav-item">
              <a class="socmed-link" href="#">
                <img
                  src="/assets/icons/facebook-logo.png"
                  alt="Facebook Icon"
                />
              </a>
            </li>
            <li class="nav-item">
              <a class="socmed-link pl-5" href="#">
                <img src="/assets/icons/twitter-logo.png" alt="Twitter Icon" />
              </a>
            </li>
            <li class="nav-item">
              <a class="socmed-link pl-5" href="#">
                <img src="/assets/icons/youtube-logo.png" alt="Youtube Icon" />
              </a>
            </li>
            <li class="nav-item">
              <a class="socmed-link pl-5" href="#">
                <img src="/assets/icons/twitch-logo.png" alt="Twitch Icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-second">
      <div class="footer-second-content d-flex justify-content-between">
        <div class="copyright">
          <span> © 2018 Your Games, Inc. All Rights Reserved</span>
        </div>
        <div class="rules-net">
          <ul class="rulnet-unlst">
            <li class="rulnet-lst">
              <a class="rulnet-link" href="#">Privacy Policy</a>
            </li>
            <li class="rulnet-lst">
              <a class="rulnet-link" href="#">Terms Of Services</a>
            </li>
            <li class="rulnet-lst">
              <a class="rulnet-link" href="#">Code Of Conduct</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
