<section class="hero-section" id="heroSection">
  <div class="hero-bg">
    <div class="hero-content container text-center">
      <h1 class="header-hero-page">Play Traditional Game</h1>
      <p class="desc-hero-page pb-3 pt-3">
        Experience new traditional game play
      </p>
      <button type="button" class="playnow-button btn btn-warning mt-3 mb-3">
        Play Now
      </button>
    </div>
    <div class="hero-arrow-down">
      <span class="arrow-down-text">The Story</span>
      <div class="arrow-down-ic">
        <svg
          width="23"
          height="12"
          viewBox="0 0 23 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
