<nav
  class="bottom-nav fixed-bottom navbar navbar-expand-lg navbar-dark pt-3 pb-3"
>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-2 text-center">
        <button
          type="button"
          class="btn btn-warning mt-3 mb-3 font-weight-bolder"
          onclick="document.location='/'"
        >
          <img src="/assets/icons/home-icon.png" alt="Home Icon" width="40" />
        </button>
        <span class="text-white">Home</span>
      </div>
      <div class="col-2 text-center">
        <button
          type="button"
          class="human-button-choose btn btn-dark mt-3 mb-3 font-weight-bolder"
          id="humanButtonHandRock"
          value="Rock"
        >
          <img src="/assets/images/rock-hand.png" alt="Rock Icon" width="40" />
        </button>
        <span class="text-white">Rock</span>
      </div>
      <div class="col-2 text-center">
        <button
          type="button"
          class="human-button-choose btn btn-dark mt-3 mb-3 font-weight-bolder"
          id="humanButtonHandPaper"
          value="Paper"
        >
          <img
            src="/assets/images/paper-hand.png"
            alt="Paper Icon"
            width="40"
          />
        </button>
        <span class="text-white">Paper</span>
      </div>
      <div class="col-2 text-center">
        <button
          type="button"
          class="human-button-choose btn btn-dark mt-3 mb-3 font-weight-bolder"
          id="humanButtonHandScissors"
          value="Scissors"
        >
          <img
            src="/assets/images/scissors-hand.png"
            alt="Scissors Hand"
            width="40"
          />
        </button>
        <span class="text-white h7">Scissors</span>
      </div>
      <div class="col-2 text-center">
        <button
          type="button"
          class="new-round-button btn btn-warning mt-3 mb-3 font-weight-bolder"
          id="newRoundButton"
        >
          <img
            src="/assets/icons/new-round-icon.png"
            alt="New Round Icon"
            width="40"
          />
        </button>
        <span class="text-white">New Round</span>
      </div>
    </div>
  </div>
</nav>
