<nav class="top-nav navbar navbar-expand-xl navbar-dark fixed-top py-3">
  <div class="container-xl">
    <a class="logo-in-topnav navbar-brand" href="/"
      ><img src="/assets/icons/logo-bakergun.png" alt="Logo Bakergun"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample07XL"
      aria-controls="navbarsExample07XL"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pr-5 active">
          <a class="nav-link text-uppercase" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="/#aboutUsSection">About</a>
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="/#featuresSection"
            >Feature</a
          >
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="/blog">Blog</a>
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="/contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav d-lg-flex order-4">
        <li class="san-btn-sm">
          <a class="san-green nav-link text-uppercase" href="#">Sign Up</a>
        </li>
        <li class="san-btn-sm">
          <a class="san-yellow nav-link text-uppercase" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
