<nav class="top-nav navbar navbar-expand-lg navbar-dark fixed-top pt-3 pb-3">
  <div class="container-xl">
    <a class="logo-in-topnav navbar-brand" href="/">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample07XL"
      aria-controls="navbarsExample07XL"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pr-5 active">
          <a class="nav-link text-uppercase" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="#">Work</a>
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="#">Contact</a>
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="#aboutUsSection">About Me</a>
        </li>
      </ul>
      <ul class="navbar-nav d-lg-flex order-4">
        <li class="nav-item pr-5">
          <a class="nav-link text-uppercase" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
