<section class="hero-section" id="heroSection">
  <div class="hero-bg">
    <div class="hero-content container text-center">
      <h1 class="header-hero-page">Play Traditional Game</h1>
      <p class="desc-hero-page pb-3 pt-3">
        Experience new traditional game play
      </p>
      <a
        href="/game"
        type="button"
        class="playnow-button btn btn-dark mt-3 mb-3"
      >
        Play Now
      </a>
    </div>
    <div class="hero-arrow-down">
      <span class="arrow-down-text">The Story</span>
      <div class="arrow-down-ic">
        <img src="/assets/icons/arrow-down.png" alt="" />
      </div>
    </div>
  </div>
</section>
