<section class="features-section" id="featuresSection">
  <div class="features-bg">
    <div class="features-content container">
      <div class="row">
        <div class="feat-img">
          <img
            src="/assets/images/landing-page-section-feature-bg.png"
            alt="Feature Image Feature"
          />
        </div>
        <div class="features-content-text">
          <div class="features-title-1">What's so special?</div>
          <div class="features-title-2">Features</div>
          <div class="feature-ul pt-5" id="accordionExample">
            <div class="feature-container pb-5">
              <div class="feature-list-box" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="feature-list-title btn btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Traditional Games
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="feature-list-desc pt-5 pl-5">
                  If you miss your childhood, we provide many tradition games
                  here
                </div>
              </div>
            </div>
            <div class="feature-container pb-5">
              <div class="feature-list-box" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="feature-list-title btn btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Game Suit
                  </button>
                </h2>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <div class="feature-list-desc pt-5 pl-5">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
            <div class="feature-container pb-5">
              <div class="feature-list-box" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="feature-list-title btn btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    TBD
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="feature-list-desc pt-5 pl-5">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
