 <section class="news-letter-section" id="newsLettSection">
      <div class="news-letter-bg">
        <div class="news-letter-content container">
          <div class="row">
            <div class="feat-img">
              <img
                class="newslet-img-self"
                src="/assets/images/landing-page-section-newsletter-bg.png"
                alt="Featured Image News Letter"
              />
            </div>
            <div class="newslet-text-box">
              <h2 class="newslet-h2">Want to stay in touch?</h2>
              <h3 class="newslet-h3">Newsletter Subscribe</h3>
              <p class="newslett-par">
                In order to start receiving our news, all you have to do is
                enter your email address. Everything else will be taken care of
                by us. We will send you emails containing information about
                game. We don’t spam.
              </p>
              <form class="row g-3">
                <div class="form-email-box col-7">
                  <label for="exampleInputEmail1" class="email-label"
                    >Your Email Address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="youremail@binar.co.id"
                  >
                  
                </input>
                </div>
                <div class="col-5 d-flex">
                  <button type="submit" class="newsletbut btn btn-dark w-100">Subscibe Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>