<section class="requirements-section" id="requireSection">
  <div class="requirements-bg">
    <div class="features-content container">
      <h1 class="requirements-h1 col-4">System Requirement</h1>
      <h3 class="requirements-h3">Can My Computer Run this game?</h3>
      <div class="requirements-box">
        <div class="row">
          <div class="requir-box-os py-3 col">
            <h4>Os:</h4>
            <p>Windows 7 64-bit only (No OSX support at this time)</p>
          </div>
          <div class="requir-box-procie py-3 col">
            <h4>Processor:</h4>
            <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
          </div>
        </div>
        <div class="row">
          <div class="requir-box-memo py-3 col">
            <h4>Memory:</h4>
            <p>4 GB RAM</p>
          </div>
          <div class="requir-box-stor py-3 col">
            <h4>Storage:</h4>
            <p>8 GB available space</p>
          </div>
        </div>
        <div class="row">
          <div class="requir-box-graph py-3">
            <h4>Graphics:</h4>
            <p>
              NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
              (Shader Model 5)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
